/*
* @Author: 周海明
* @Date:   2018-01-18 08:52:12
* @Last Modified by:   周海明
* @Last Modified time: 2018-01-19 20:07:04
*/
$cl:#f36;
$bg:#F8F8F8;
$szcl:#666;
$bg2:#fff;
$bg3:#f7f7f7;
$bg4:#ff5777;
$cl1:#e40045;